<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myConverter" class="com.citi.training.spring.map.ConverterImpl">
        <property name="fieldMap">
            <map>
                <entry key="id" value="employeeID"/>
                <entry key="name" value="name"/>
            </map>
        </property>
    </bean>


</beans>